.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust this value based on your design */
}

.pagination {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.page-item {
    margin: 0 5px; /* Adjust spacing between page items */
}

.page-link {
    color: #007bff;
    padding: 10px 15px;
    border: 1px solid #ddd;
    background-color: #fff;
    text-decoration: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.page-link:hover {
    background-color: #007bff;
    color: #fff;
}

.page-link.bg-primary {
    background-color: #007bff;
    color: #fff;
}

.page-item.disabled .page-link {
    background-color: #e9ecef;
    color: #6c757d;
    pointer-events: none;
    cursor: not-allowed;
}
